.Header {
  text-align: center;
  display: flex;
  border-bottom: 1px solid #ddd;
}

.Header .title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  margin: 0;
}

.Header input {
  width: 100%;
  padding: 15px 15px 15px 60px;
  font-size: 24px;
  line-height: 1.4em;
  color: #4d4d4d;
  border: none;
}

.Header input::placeholder {
  font-style: italic;
  opacity: 0.3;
}

.Header input:focus {
  outline: none;
}