.Footer {
  display: flex;
  padding: 15px 10px;
  font-size: 14px;
  line-height: 1.4em;
  color: #4d4d4d;
  position: relative;
  justify-content: space-between;
}

.Footer .filter {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  justify-content: center;
}

.Footer .filter li a {
  color: #4d4d4d;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.Footer .clear-completed {
  cursor: pointer;
  z-index: 1;
}

.Footer .clear-completed:hover {
  text-decoration: underline;
}

.selected {
  border-color: rgba(175, 47, 47, 0.2)!important;
}

.Footer::before {
  content: '';
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events:none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
  0 8px 0 -3px #fff,
  0 9px 1px -3px rgba(0, 0, 0, 0.2),
  0 16px 0 -6px #fff,
  0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.Footer .description {
  position: absolute;
  margin-top: 65px;
  color: #bfbfbf;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

@media (max-width: 576px) {
  .Footer {
    font-size: 10px;
  }
}
