.Footer {
  display: flex;
  padding: 15px 10px;
  font-size: 14px;
  line-height: 1.4em;
  color: #4d4d4d;
  position: relative;
  justify-content: space-between;
}

.Footer .filter {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  justify-content: center;
}

.Footer .filter li a {
  color: #4d4d4d;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.Footer .clear-completed {
  cursor: pointer;
  z-index: 1;
}

.Footer .clear-completed:hover {
  text-decoration: underline;
}

.selected {
  border-color: rgba(175, 47, 47, 0.2)!important;
}